if options
	- each option in options
			input(type='checkbox' id='#{option}' value='#{option}' name='#{optionsName}')
			label(for='#{option}') #{option}
		if addPlusButton
			input(type='button', value='+')
		br
